USE [QLBVTH_HP]
GO
/****** Object:  StoredProcedure [dbo].[sp_addCustomer]    Script Date: 5/12/2024 9:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_addCustomer] (
	@fullname NVARCHAR(250),
	@username NVARCHAR(100),
	@password NVARCHAR(100),
	@phoneNumber NVARCHAR(100),
	@address NVARCHAR(250),
	@idBranch VARCHAR(10),
	@id NVARCHAR(10) OUTPUT
)
AS
BEGIN
	DECLARE @maxID INT;
	DECLARE @newID VARCHAR(10);

	SELECT @maxID = COUNT(id) FROM [dbo].[Customer] WHERE id LIKE '%' + @idBranch + '%' ;

	SET @newID = 'C' + @idBranch +  RIGHT('00' + CAST(@MaxID + 1 AS VARCHAR(3)), 3);

	INSERT INTO [dbo].[Customer] VALUES
	(@newID, @fullname, @username, @password, @phoneNumber, @address, @idBranch, NEWID());

	SET @id = @newID;

END

DECLARE @maxID varchar(10);
EXEC sp_addCustomer 'test', 'est', 'test','0987654321','dfdf','HP', @maxID OUTPUT;