USE [QLBVTH_HP]
GO
/****** Object:  StoredProcedure [dbo].[sp_editCustomer]    Script Date: 5/12/2024 7:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_editCustomer](
	@id NVARCHAR(10),
	@fullname NVARCHAR(250),
	@username NVARCHAR(100),
	@password NVARCHAR(100),
	@phoneNumber NVARCHAR(100),
	@address NVARCHAR(250),
	@status NVARCHAR(250) OUTPUT
)
AS
BEGIN TRY
	UPDATE [dbo].[Customer]
	SET fullname = @fullname,
		username = @username,
		password = @password,
		phoneNumber = @phoneNumber,
		address = @address
	WHERE id = @id;

	SET @status = 'success'
END TRY
BEGIN CATCH
	SET @status = 'failure'
END CATCH

DECLARE @status NVARCHAR(250);
exec sp_editCustomer 'CHP021', N'Tớ là Hạnh', 'hanhne', '123', '0123456789', 'Việt Nam', @status output
print(@status)




-------------------------------------------------------------------------
Create proc sp_test 
(
	@id NVARCHAR(10),
	@fullname NVARCHAR(250),
	@username NVARCHAR(100),
	@password NVARCHAR(100),
	@phoneNumber NVARCHAR(100),
	@address NVARCHAR(250)
)
AS
BEGIN
	UPDATE [dbo].[Customer]
	SET fullname = @fullname,
		username = @username,
		password = @password,
		phoneNumber = @phoneNumber,
		address = @address
	WHERE id = @id;

END

exec sp_test 'CHP021', N'Tớ là Hạnh', 'hanhne', '123', '0123456789', 'Việt Nam';
